* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #F7F8F9 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

  .mantine-DatePicker-day[data-selected], .mantine-DatePicker-day[data-selected]:hover {
      background: #005AA9;
      color: white;
  }
  .mantine-DatePicker-day[data-in-range], .mantine-DatePicker-day[data-in-range]:hover {
      background: #005AA9;
      color: white;
      opacity: 0.5;
  }
  
  .mantine-DatePicker-day[data-first-in-range], .mantine-DatePicker-day[data-first-in-range]:hover {
      background: #005AA9;
      color: white;
      opacity: 1;
  }

  .mantine-DatePicker-day[data-last-in-range], .mantine-DatePicker-day[data-last-in-range]:hover {
    background: #005AA9;
    color: white;
    opacity: 1;
  }