@import '../global.scss';

.features {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    @include breakpoint('lg') {
        flex-direction: row;
        gap: 3rem;
        padding: 6rem 2rem 3rem;
    }
    .feature {
        background: #ffffff;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        @include breakpoint('lg') {
            flex: 1;
        }
        h3 {
            font-weight: 400;
            color: $darkBlue;
            margin: 1.2rem 0 1rem 0;
        }
        p {
            text-align: center;
            text-wrap: pretty;
            opacity: 0.6;
            @include breakpoint('lg') {
                text-wrap: balance;
            }
        }
    }
}